.xans-calendar-headday {position:relative;text-align:center;}
.xans-calendar-headday .date {display:inline;color:#bbb;font-size:30px;letter-spacing:-1px;}
.xans-calendar-headday .date img {vertical-align:middle;}
.xans-calendar-headday .button {position:absolute;right:0;top:0px;}

.xans-calendar-listdayhead th {padding:8px 0;color:#bbb;border-top:1px solid #bbb;}

.xans-calendar-daypackage .calendar {margin:20px 0 0;}
.xans-calendar-listday th,
.xans-calendar-listday td {padding:5px;border:1px solid #e8e8e8;background:#f7f7f7;color:#333;font-weight:normal;vertical-align:middle;line-height:1.6;}
.xans-calendar-listday th {text-align:center;color:#8f8f8f;font-weight:normal;}
.xans-calendar-listday td li a,
.xans-calendar-listday td li a:hover {color:#8f8f8f;}