.xans-calendar-headweek {position:relative;text-align:center;}
.xans-calendar-headweek .date {display:inline;color:#bbb;font-size:30px;letter-spacing:-1px;}
.xans-calendar-headweek .date img {vertical-align:middle;}
.xans-calendar-headweek .button {position:absolute;right:0;top:0px;}

.xans-calendar-weekpackage .calendar {margin:20px 0 0;}
.xans-calendar-listweekhead th {padding:8px 0;color:#bbb;border-top:1px solid #bbb;}
.xans-calendar-listweekhead th.sun {color:#333;}
.xans-calendar-listweekhead th.sat {color:#333;}

.xans-calendar-listweek th,
.xans-calendar-listweek td {padding:5px;border:1px solid #e8e8e8;background:#f7f7f7;color:#333;font-weight:normal;vertical-align:middle;line-height:1.6;}
.xans-calendar-listweek .week_today, .xans-calendar-listweek .exist_data {background:#f4f4f4;}
.xans-calendar-listweek td li a {color:#333;line-height:1.6;}