.xans-layout-searchheader {float:right;margin:-50px 0 0;}
.xans-layout-searchheader fieldset {border:1px solid #e8e8e8;border-radius:2px;}
.xans-layout-searchheader #keyword  {width:143px;height:32px;padding:0 0 0 9px;border:0;line-height:32px;font-size:13px;color:#7c8389;background:#fff;}