.xans-myshop-couponlist .title {overflow:hidden;margin:40px 0 10px 0;}
.xans-myshop-couponlist .title h3 {float:left;color:#333;font-size:18px;font-weight:600;}
.xans-myshop-couponlist .title p {float:right;color:#757575;}
.xans-myshop-couponlist td.payment,
.xans-myshop-couponlist td.sale,
.xans-myshop-couponlist td.mileage {color:#757575;}
