#historyNoLoginForm {width:420px;margin:0 auto;padding:35px 0 0;margin-top:20px;border-radius:20px;}
.xans-myshop-orderhistorynologin {position:relative;}
.xans-myshop-orderhistorynologin.ec-base-box {padding:0;}
.xans-myshop-orderhistorynologin .desc {width:100%;color:#757575;text-align:center;font-size:13px;}
.xans-myshop-orderhistorynologin .ec-base-desc {width:100%;margin:20px auto 14px;font-size:14px;background-color:#f5f5f5;padding:22px 20px;border-radius:4px;}
.xans-myshop-orderhistorynologin input[type=text],
.xans-myshop-orderhistorynologin input[type=password] {width:95%;height:26px;}
.xans-myshop-orderhistorynologin #order_id1,
.xans-myshop-orderhistorynologin #order_id2 {width:103px;}
.xans-myshop-orderhistorynologin #order_id1 {margin:0 4px 0 0;}
.xans-myshop-orderhistorynologin #order_id2 {margin:0 0 0 4px;}
.xans-myshop-orderhistorynologin .button {width:100%;margin:0;text-align:center;}
.xans-myshop-orderhistorynologin .ec-base-button {padding:0;}
.xans-myshop-orderhistorynologin .ec-base-button[class*="gColumn"] [class^='btn'] {margin:0;}
.xans-myshop-orderhistorynologin .ec-base-desc dt {width:40%;padding:3px 0;line-height:26px;margin:0;text-align:center;}
.xans-myshop-orderhistorynologin .ec-base-desc dd {padding:3px 0 3px 40%;margin:0;}