.xans-myshop-deposithistorylist {margin:14px 7px 0;}
.xans-myshop-deposithistorylist .item {margin:7px 0 0;font-size:13px;color:#333;}
.xans-myshop-deposithistorylist .item:first-child {margin-top:0;}
.xans-myshop-deposithistorylist .item h3 {padding:14px;font-size:13px;line-height:1.2em;background:#e8e8e8;border:1px solid #e8e8e8;overflow:hidden;}
.xans-myshop-deposithistorylist .item h3 .date {color:#333;font-weight:bold;}
.xans-myshop-deposithistorylist .item h3 .number {font-weight:normal;}
.xans-myshop-deposithistorylist .empty {padding:40px 0;font-size:13px;text-align:center;}