.xans-myshop-unavaillist {margin:14px 7px;}
.xans-myshop-unavaillist .item {margin:7px 0 0;font-size:13px;color:#333;}
.xans-myshop-unavaillist .item:first-child {margin-top:0;}
.xans-myshop-unavaillist .item h3 {padding:14px;font-size:13px;line-height:1.2em;background:#e8e8e8;border:1px solid #e8e8e8;overflow:hidden;}
.xans-myshop-unavaillist .empty {padding:40px 0;font-size:13px;text-align:center;}

