.xans-myshop-addrlist {position:relative;margin:14px;}
.xans-myshop-addrlist h3 {padding:0 14px;line-height:43px;font-size:13px;font-weight:bold;color:#fff;background:#333;}

/* 리스트 */
.xans-myshop-addrlist .addList {border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.xans-myshop-addrlist .description {position:relative;border-bottom:1px solid #e8e8e8;}
.xans-myshop-addrlist p {padding:0 0 0 14px;}
.xans-myshop-addrlist .name {font-size:13px;line-height:30px;padding-top:12px;}
.xans-myshop-addrlist .name span {color:#333;font-weight:bold;}
.xans-myshop-addrlist .info {padding:0 0 14px;font-size:13px;background:#fff;}
.xans-myshop-addrlist .info .number {margin:5px 0 0;color:#757575;}
.xans-myshop-addrlist .info .number span.line {position:relative;display:inline-block;margin:0 14px;width:1px;height:13px;}
.xans-myshop-addrlist .info .number span.line:before {display:block;content:"";position:absolute;top:6px;left:0;width:1px;height:8px;background:#ddd;}
.xans-myshop-addrlist .empty {margin:14px auto 0;font-size:13px;text-align:center;}
.xans-myshop-addrlist .button {position:absolute;top:7px;right:14px;z-index:10;}
.xans-myshop-addrlist .button a {font-size:13px;}
.xans-myshop-addrlist .btnAdd {position:absolute;top:7px;right:14px;z-index:10;}
.xans-myshop-addrlist .btnAdd a {font-size:13px;font-weight:bold;}
.xans-myshop-addrlist .ec-base-button {margin:0;padding:0 14px 14px;background:#fff;}