/*타이틀*/
.titleArea h2,
.titleArea h2 font,
.titleArea h2,
#titleArea h2 {font-size:20px;font-weight:300;}

/*서브문구*/
.main_tit .copy,
.titleArea ul li,
#titleArea span {font-size:13px;font-weight:normal;color:#999;}

/*기타스타일*/
.main_tit {width:100%;padding:45px 0 28px;text-align:center;}
.main_tit .tit {font-size:26px;line-height:30px;font-weight:300;position:relative;padding-bottom:20px;}
.main_tit .tit:after {position:absolute;left:0;right:0;margin:auto;bottom:11px;display:block;content:'';width:10px;height:1px;background-color:#aaa;}
.main_tit .copy {line-height:16px;margin-top:4px;}

.titleArea {padding:18px 0 32px !important;border-bottom:0 !important;text-align:center;}
.titleArea h2,
.titleArea h2 font,
.titleArea h2 {line-height:22px;background:none !important;padding:0 !important;}
.titleArea ul {width:700px;margin:0 auto;margin-top:20px;background-color:#f7f7f7;padding:17px 20px;border-radius:15px;}
.titleArea ul li {line-height:23px;}

#titleArea {position:relative;border-top:1px solid #f0f0f0;}
#titleArea h2 {padding:28px 14px 20px;line-height:30px;text-align:center;}
#titleArea span.xans-layout-mobileaction  {display:none;}

.sub_tit {width:100%;text-align:center;}
.sub_tit h2 {font-size:18px;line-height:24px;font-weight:400;position:relative;padding-bottom:20px;}
.sub_tit h2:after {display:block;content:'';margin:20px auto;width:14px;height:1px;background-color:#aaa;}
