.xans-coupon-productpopup .coupon {width:216px;height:105px;margin:10px auto;font-size:13px;line-height:1.4;text-align:center;background-repeat:no-repeat;}
.xans-coupon-productpopup .coupon .title {display:block;padding:8px 0;font-size:13px;line-height:15px;text-align:center;font-weight:normal;}
.xans-coupon-productpopup .coupon .discount {font-size:16px;line-height:31px;font-weight:16px;text-align:center;margin-top:9px;}
.xans-coupon-productpopup .coupon .discount span {font-size:16px;}
.xans-coupon-productpopup .coupon .period {font-size:13px;line-height:13px;text-align:center;}
.xans-coupon-productpopup .coupon .button {position:absolute;right:-6px;bottom:-6px;}
.xans-coupon-productpopup .coupon .button img {width:30px;height:30px;}
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .title,
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .discount,
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .period,
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .button {display:none;}
.xans-coupon-productpopup .couponSkinArea .coupon.imgCoupon .detail {height:100%;}

#dCouponDetail {position:absolute;z-index:100;width:306px;margin:0 7px;border:1px solid #555;border-radius:4px;background:#e8e8e8;}
#dCouponDetail.active {display:block;}
#dCouponDetail h4 {font-size:14px;box-sizing:border-box;padding:10px 14px;background:#333;color:#fff;}
#dCouponDetail .couponInfo {margin:14px 7px 7px;background:#fff;border:1px solid #e8e8e8;}
#dCouponDetail .couponInfo li {padding:12px;border-top:1px solid #e8e8e8;}
#dCouponDetail .couponInfo li:first-child {border-top:0;}
#dCouponDetail .mButton {text-align:center;padding:0 0 7px;}
#dCouponDetail .mButton a {display:inline-block;height:28px;line-height:28px;margin:0;padding:0 9px;font-size:13px;cursor:pointer;vertical-align:middle;font-weight:400;border:0;border-radius:2px;}
#dCouponDetail .mButton .tSubmit1 {color:#fff;background:#333;margin:0 7px 0 0;}
#dCouponDetail .mButton .tSubmit2 {color:#333;border:1px solid #e8e8e8;background:#fff;}
