#myshopMain {margin:30px 0 0;}
#myshopMain ul {border-top:1px solid #e8e8e8;border-left:1px solid #e8e8e8;display:flex;flex-wrap:wrap;}
#myshopMain ul:after {content:"";display:block;clear:both;}
#myshopMain .shopMain {flex:1;min-width:25%;height:230px;padding:40px 15px 0;border-bottom:1px solid #e8e8e8;border-right:1px solid #e8e8e8;text-align:center;-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;transition:0.3s ease-in-out;}
#myshopMain .shopMain:hover {background-color:#fafafa;}
#myshopMain .shopMain h3 {position:relative;font-size:13px;color:#333;font-weight:normal;}
#myshopMain .shopMain h3:before {display:block;content:"";width:65px;height:50px;margin:0 auto;padding:0 0 8px;background:url("//img.echosting.cafe24.com/skin/base/myshop/sfix_icon_shopMain.png") no-repeat 0 0;opacity:0.3;}
#myshopMain .shopMain h3 strong {font-size:16px;font-weight:600;line-height:22px;}
#myshopMain .shopMain h3 span {display:block;padding:3px 0 0;}
#myshopMain .shopMain h3 a {display:block;padding:0 0 15px;}
#myshopMain .shopMain h3 a:hover {text-decoration:none;}
#myshopMain .shopMain p a {font-size:13px;line-height:20px;color:#999;}

/* 아이콘 */
#myshopMain .shopMain.order h3:before {background-position:12px 0;}
#myshopMain .shopMain.profile h3:before {background-position:-90px 8px;}
#myshopMain .shopMain.wishlist h3:before {background-position:-188px 0;}
#myshopMain .shopMain.likeIt h3:before {background-position:-288px 4px;}
#myshopMain .shopMain.mileage h3:before {background-position:8px -100px;}
#myshopMain .shopMain.deposits h3:before {background-position:-92px -98px;}
#myshopMain .shopMain.consult h3:before {background-position:-188px -100px;}
#myshopMain .shopMain.coupon h3:before {background-position:-292px -96px;}
#myshopMain .shopMain.board h3:before {background-position:12px -200px;}
#myshopMain .shopMain.address h3:before {background-position:-102px -194px;}
#myshopMain .shopMain.inquiry h3:before {background-position:-200px -200px;}