.xans-myshop-orderoldhistorylist .title {margin:40px 0 15px 10px;}
.xans-myshop-orderoldhistorylist .title h3 {color:#333;font-size:18px;font-weight:600;}
.xans-myshop-orderoldhistorylist.ec-base-table td a {color:#333;}
.xans-myshop-orderoldhistorylist.ec-base-table td .line {text-decoration:underline;}