/* admin icon */
.ec-admin-icon.cart {height:26px;cursor:pointer;}

.ec-base-product {}
.ec-base-product h2 {max-height:43px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:15px;line-height:43px;}
.ec-base-product h3 {margin-bottom:14px;}
.ec-base-product img {max-width:100%;}
.ec-base-product li {vertical-align:top;font-size:13px;line-height:1.5em;}
.ec-base-product [class*="grid"] {display:table;table-layout:fixed;width:100%;box-sizing:border-box;padding:0 4px;font-size:0;line-height:0;}
.ec-base-product [class*="grid"] > li {display:inline-block;margin:0 0 23px;vertical-align:top;text-align:center;padding:0 4px;}
.ec-base-product .gallery > li  {margin:0;}
.ec-base-product .thumbnail {position:relative;margin-bottom:9px;}
.ec-base-product .thumbnail a {display:block;}
.ec-base-product .thumbnail a img {display:block;width:100%;vertical-align:top;}
.ec-base-product .thumbnail .ic_sale {position:absolute;top:0;right:0;width:44px;height:44px;font-weight:400;line-height:44px;font-size:10px;font-weight:600;z-index:5;background-color:rgba(0,0,0,0.75);color:#fff;text-align:center;letter-spacing:0.01em;}
.ec-base-product .thumbnail .ic_sale span {font-size:9px;font-weight:400;color:#ccc;margin-left:1px;}
.ec-base-product .thumbnail .prdIcon {position:absolute;top:0;left:0;width:100%;height:100%;background-repeat:no-repeat;background-size:30% auto;}
.ec-base-product .thumbnail .wish {position:absolute;right:6px;bottom:6px;z-index:10;}
.ec-base-product .description {min-height:10px;padding:5px;line-height:1.5em;text-align:center;}
.ec-base-product .gallery .description {display:none;}
.ec-base-product .description .icon img {margin:5px 1px;}
.ec-base-product .description .name {line-height:1.4em;}
.ec-base-product .description .name a {font-size:14px;color:#333;word-wrap:keep-all;}
.ec-base-product .description .spec {padding-top:3px;}
.ec-base-product .description .spec li {}
.ec-base-product .description .spec li * {font-size:13px !important;line-height:1.6 !important;word-break:keep-all;}
.ec-base-product .description .spec li:nth-child(1) {padding-bottom:3px;}
.ec-base-product .description .spec li:nth-child(1) * {font-size:12px !important;}
.ec-base-product .description .spec li br {display:none !important;}
.ec-base-product .description .color {overflow:hidden;margin:0;font-size:0;}
.ec-base-product .description .color .chips {display:inline-block;width:10px;height:10px;margin:6px 2px 0;font-size:0;line-height:0;border:1px solid #e8e8e8;border-radius:50%;}
.ec-base-product .description .likeButton {vertical-align:top;}
.ec-base-product .description .likeButton button {border:0;background:none;}
.ec-base-product .description .likeButton button img {height:9px;}
.ec-base-product .description .likeButton button strong span {margin-left:3px;font-size:11px;line-height:10px;color:#757575;vertical-align:-1px;}
.ec-base-product .description .likeButton.selected button strong span {}
.ec-base-product .more_view {margin:7px 4px 0;}
.ec-base-product .more_view a {display:block;padding:0 0 0 0;background:#e8e8e8;}
.ec-base-product .more_view a span {overflow:hidden;display:block;width:100%;height:30px;text-indent:120%;background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/bg_togglebar_show.png") no-repeat 50% 50%;background-size:12px 12px;}

/* typeDesc */
.ec-base-product.typeDesc {margin:0;background:#fff;}
.ec-base-product.typeDesc .prdList:after {display:block;content:"";clear:both;}
.ec-base-product.typeDesc .prdList > li {margin:0;padding:14px;width:100%;border-top:1px solid #e8e8e8;}
.ec-base-product.typeDesc .prdList > li:after {display:block;content:"";clear:both;}
.ec-base-product.typeDesc .thumbnail {float:left;margin:0;padding:0;width:97px;}
.ec-base-product.typeDesc .description {padding:0 0 0 110px;text-align:left;}

/* typeGallery */
.ec-base-product.typeGallery {margin:0;}
.ec-base-product.typeGallery ul {display:table;table-layout:fixed;padding:0 6px;font-size:0;line-height:0;}
.ec-base-product.typeGallery li {position:relative;display:inline-block;margin:0 0 4px;padding:0;vertical-align:top;overflow:hidden;font-size:13px;line-height:1.5em;}
.ec-base-product.typeGallery .thumbnail {margin:0 2px;}
.ec-base-product.typeGallery .description {display:none;}

.ec-base-product .layerDiscountPeriod {display:none;position:absolute;z-index:100;left:0;width:100%;padding:11px 7px;box-sizing:border-box;}
.ec-base-product .layerDiscountPeriod .inner {border:1px solid #555;background:#e8e8e8;border-radius:4px;}
.ec-base-product .layerDiscountPeriod .inner .title {display:block;padding:10px 14px;font-size:14px;background-color:#333;color:#fff;}
.ec-base-product .layerDiscountPeriod .inner .timeleft {padding:14px;color:#333;font-size:13px;font-weight:bold;text-align:center;}
.ec-base-product .layerDiscountPeriod ul {margin:0 7px 14px;padding:0;border:1px solid #e8e8e8;background:#fff;}
.ec-base-product .layerDiscountPeriod ul li {position:relative;padding:14px 13px 14px 100px;border-top:1px solid #e8e8e8;color:#333;}
.ec-base-product .layerDiscountPeriod ul li:first-child {border-top:0;}
.ec-base-product .layerDiscountPeriod ul li span {position:absolute;top:14px;left:13px;color:#757575;}
.ec-base-product .layerDiscountPeriod .btnClose {position:absolute;top:8px;right:4px;display:block;width:40px;height:40px;text-indent:-9999px;font-size:0;background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_close_white.png") center center no-repeat;background-size:50% 50%;}

/* Thumbnail icon position */
.ec-product-bgLT {background-position:left top;}
.ec-product-bgLC {background-position:left center;}
.ec-product-bgLB {background-position:left bottom;}
.ec-product-bgRT {background-position:right top;}
.ec-product-bgRC {background-position:right center;}
.ec-product-bgRB {background-position:right bottom;}
.ec-product-bgCT {background-position:center top;}
.ec-product-bgCC {background-position:center center;}
.ec-product-bgCB {background-position:center bottom;}

/* grid */
.ec-base-product .grid1 > li {width:100%;}
.ec-base-product .grid2 > li {width:50%;}
.ec-base-product .grid3 > li {width:33.333%;}
.ec-base-product .grid4 > li {width:25%;}
.ec-base-product .grid5 > li {width:20%;}

@media all and (max-width:680px) {
  .ec-base-product .prdList.grid1 > li {width:100%;}
  .ec-base-product .prdList.grid2 > li {width:50%;}
  .ec-base-product .prdList.grid3 > li {width:33.333%;}
  .ec-base-product .prdList.grid4 > li {width:25%;}
  .ec-base-product .prdList.grid5 > li {width:20%;}

  .ec-base-product .grid1 li .name {font-size:15px;}
  .ec-base-product .grid2 li .name,
  .ec-base-product .grid3 li .name {font-size:13px;}
  .ec-base-product .grid4 li .name {font-size:13px;}
}

@media all and (min-width:681px) and (max-width:967px) {
  .ec-base-product .prdList.grid2 > li {width:33.333%;}
  .ec-base-product .prdList.grid3 > li,
  .ec-base-product .prdList.grid4 > li,
  .ec-base-product .prdList.grid5 > li {width:25%;}

  .ec-base-product [class*="grid"] li .name {font-size:13px;}
}

@media all and (min-width:968px) {
  .ec-base-product .prdList.grid2 > li {width:25%;}
  .ec-base-product .prdList.grid3 > li,
  .ec-base-product .prdList.grid4 > li,
  .ec-base-product .prdList.grid5 > li {width:20%;}

  .ec-base-product [class*="grid"] li .name {font-size:15px;}
}