@charset "utf-8";

/* layout */
#contents {position:relative;background-color:#fff;}
#container {margin:0 !important;}
.dimmed {display:none;position:fixed;left:0px;top:0;right:0px;bottom:0px;z-index:150;background:rgba(0,0,0,0.7);}
#dimmedSlider {display:none;position:fixed;left:0px;top:0;right:0px;bottom:0px;z-index:400;background:rgba(0,0,0,0.7);}

/* 메인 배너 */
#main .mainBanner {position:relative;}
#main .mainBanner a img {max-height:290px;}
#main .mainBanner .ec-base-paginate {position:absolute;bottom:8px;z-index:10;width:100%;}
#main .mainBanner .afterNone {display:none;}

/* 마이쇼핑 메인 */
.myshopMain {padding:14px;font-size:13px;}

