.xans-product-normalmenu {overflow:hidden;padding:25px 8px;position:relative;}
.xans-product-normalmenu .sort {position:absolute;top:27px;right:7px;}
.xans-product-normalmenu .sort select {max-width:150px;}

.xans-product-normalmenu .viewType {width:100%;font-size:0;text-align:center;}
.xans-product-normalmenu .viewType li {display:inline-block;width:35px;height:35px;border-radius:4px;background-size:50%;background-repeat:no-repeat;background-position:center;opacity:0.4;}
.xans-product-normalmenu .viewType li.selected {background-color:#333;opacity:0.7;}
.xans-product-normalmenu .viewType li a {display:block;height:100%;}

.xans-product-normalmenu .viewType li.list {background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_list.png");}
.xans-product-normalmenu .viewType li.thumb {background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_thumb.png");}
.xans-product-normalmenu .viewType li.gallery {background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_gallery.png");}
.xans-product-normalmenu .viewType li.slide {background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_slide.png");}
.xans-product-normalmenu .viewType li.selected.list {background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_list_on.png");}
.xans-product-normalmenu .viewType li.selected.thumb {background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_thumb_on.png");}
.xans-product-normalmenu .viewType li.selected.gallery {background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_gallery_on.png");}
.xans-product-normalmenu .viewType li.selected.slide {background-image:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_slide_on.png");}
