/*common*/
.div {font-size:0;line-height:0;}
.div > * {display:inline-block !important;vertical-align:top;white-space:nowrap;}

.flex {display:flex !important;flex-wrap:wrap;}

.mdlY {position:absolute;top:50%;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);}
.mdlX {position:absolute;left:50%;-webkit-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);}

.clr {clear:both;}
.disnone {display:none !important;} 
.elp {text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;white-space:nowrap;word-wrap:normal !important;}

.orderStep {display:none !important;}

hr {display:block;height:1px;border:0;}
::selection {background:#333;color:#fff;}
::-moz-selection {background:#333;color:#fff;}

span[id*='afile'] {display:none !important;}

#capp-shop-new-product-optionselect-layer {box-shadow:0 3px 8px rgba(20,20,20,0.15);}


/*VOD*/
.vodBox {width:100%;position:relative;}
.vodBox:before {display:block;content:'';width:100%;padding-bottom:56.3%;}
.vodBox iframe {position:absolute;width:100%;height:100%;margin:auto;top:0;left:0;}


/*Slick*/
.slick-slider * {outline:0;border:0;}

.slick-slide {display:block;width:100%;height:100%;background-size:cover;background-position:center center;}
.slick-slide img {object-fit:cover;width:100%;}
.slick-slide .prdList img {width:auto;display:inline-block;}

.slick-arrow {position:absolute;font-size:0;width:30px;height:30px;top:50%;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);background-color:transparent;z-index:10;background-position:center center;background-size:cover;-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;transition:0.3s ease-in-out;background-repeat:no-repeat;}
.slick-arrow.slick-prev {left:0;background-image:url('/_idio/img/arr_m_bk_01.svg');}
.slick-arrow.slick-next {right:0;background-image:url('/_idio/img/arr_m_bk_02.svg');}

.slick-dots {position:absolute;bottom:27px;z-index:10;width:100%;height:0;text-align:center;font-size:0;line-height:0;}
.slick-dots li {display:inline-block;width:11px;height:11px;margin:0 4px;border-radius:50%;background-color:rgba(200,200,200,0.7);cursor:pointer;-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;transition:0.3s ease-in-out;}
.slick-dots li.slick-active {background-color:rgba(100,100,100,0.5);cursor:default;}
.slick-dots li button {display:block;width:100%;height:100%;opacity:0;font-size:0;line-height:0;}



/*Scroll Ani*/
.fadeIn {transition:all 1s ease;opacity:0;}
.fadeInUp {transition:all 1s ease;opacity:0;transform:translateY(30px);}
.fadeInDown {transition:all 1s ease;opacity:0;transform:translateY(-30px);}
.fadeInLeft {transition:all 1s ease;opacity:0;transform:translateX(-30px);}
.fadeInRight {transition:all 1s ease;opacity:0;transform:translateX(30px);}
.animate {transform:translateY(0px);transform:translateX(0px);opacity:1;}


/*transition*/
.mov03 {-webkit-transition:all 0.3s;-khtml-transition:all 0.3s ease;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.mov07 {-webkit-transition:all 0.7s;-khtml-transition:all 0.7s ease;-moz-transition:all 0.7s;-ms-transition:all 0.7s;-o-transition:all 0.7s;transition:all 0.7s;}
.mov10 {-webkit-transition:all 1.0s;-khtml-transition:all 1.0s ease;-moz-transition:all 1.0s;-ms-transition:all 1.0s;-o-transition:all 1.0s;transition:all 1.0s;}
.mov30 {-webkit-transition:all 3.0s;-khtml-transition:all 3.0s ease;-moz-transition:all 3.0s;-ms-transition:all 3.0s;-o-transition:all 3.0s;transition:all 3.0s;}
.mov50 {-webkit-transition:all 5.0s;-khtml-transition:all 5.0s ease;-moz-transition:all 5.0s;-ms-transition:all 5.0s;-o-transition:all 5.0s;transition:all 5.0s;}


/*margin, padding*/
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt25 {margin-top:25px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mt55 {margin-top:55px !important;}
.mt60 {margin-top:60px !important;}
.mt65 {margin-top:65px !important;}
.mt70 {margin-top:70px !important;}
.mt75 {margin-top:75px !important;}
.mt80 {margin-top:80px !important;}
.mt85 {margin-top:85px !important;}
.mt90 {margin-top:90px !important;}
.mt95 {margin-top:95px !important;}
.mt100 {margin-top:100px !important;}
				
.mb5 {margin-bottom:5px !important;}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb25 {margin-bottom:25px !important;}
.mb30 {margin-bottom:30px !important;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px !important;}
.mb45 {margin-bottom:45px !important;}
.mb50 {margin-bottom:50px !important;}
.mb55 {margin-bottom:55px !important;}
.mb60 {margin-bottom:60px !important;}
.mb65 {margin-bottom:65px !important;}
.mb70 {margin-bottom:70px !important;}
.mb75 {margin-bottom:75px !important;}
.mb80 {margin-bottom:80px !important;}
.mb85 {margin-bottom:85px !important;}
.mb90 {margin-bottom:90px !important;}
.mb95 {margin-bottom:95px !important;}
.mb100 {margin-bottom:100px !important;}

.pt5 {padding-top:5px !important;}
.pt10 {padding-top:10px !important;}
.pt15 {padding-top:15px !important;}
.pt20 {padding-top:20px !important;}
.pt25 {padding-top:25px !important;}
.pt30 {padding-top:30px !important;}
.pt35 {padding-top:35px !important;}
.pt40 {padding-top:40px !important;}
.pt45 {padding-top:45px !important;}
.pt50 {padding-top:50px !important;}
.pt55 {padding-top:55px !important;}
.pt60 {padding-top:60px !important;}
.pt65 {padding-top:65px !important;}
.pt70 {padding-top:70px !important;}
.pt75 {padding-top:75px !important;}
.pt80 {padding-top:80px !important;}
.pt85 {padding-top:85px !important;}
.pt90 {padding-top:90px !important;}
.pt95 {padding-top:95px !important;}
.pt100 {padding-top:100px !important;}
				
.pb5 {padding-bottom:5px !important;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb25 {padding-bottom:25px !important;}
.pb30 {padding-bottom:30px !important;}
.pb35 {padding-bottom:35px !important;}
.pb40 {padding-bottom:40px !important;}
.pb45 {padding-bottom:45px !important;}
.pb50 {padding-bottom:50px !important;}
.pb55 {padding-bottom:55px !important;}
.pb60 {padding-bottom:60px !important;}
.pb65 {padding-bottom:65px !important;}
.pb70 {padding-bottom:70px !important;}
.pb75 {padding-bottom:75px !important;}
.pb80 {padding-bottom:80px !important;}
.pb85 {padding-bottom:85px !important;}
.pb90 {padding-bottom:90px !important;}
.pb95 {padding-bottom:95px !important;}
.pb100 {padding-bottom:100px !important;}
