.xans-board-listpackage {border-bottom:1px solid #e8e8e8;background:#fff;}

/* 글쓰기 버튼 */
.xans-board-listpackage .ec-base-button {padding:0 14px;}

/* 정렬 */
.xans-board-listpackage .boardSort {}
.xans-board-listpackage .boardSort span {display:inline-block;width:48%;padding:0 14px;font-size:13px;}
.xans-board-listpackage .boardSort span select {margin:7px 0;width:100%;}

/* 공지글 */
.xans-board-notice {margin:-1px 0 0;padding:0 0 14px;}
.xans-board-notice li {padding:14px 7px;color:#999;border-bottom:1px solid #e8e8e8;background-color:#f8f8f8;}
.xans-board-notice li:first-child {border-top:1px solid #e8e8e8;}
.xans-board-notice li:after {content:"";display:block;clear:both;}
.xans-board-notice .summary {padding:0;}
.xans-board-notice .summary > span {display:inline-block;}
.xans-board-notice .subject {margin-left:5px;word-wrap:break-word;line-height:1.5em;color:#333;}
.xans-board-notice .notice {line-height:1.5em;color:#aaa;margin-right:5px;font-weight:normal;}
.xans-board-notice .comment {color:#555;}
.xans-board-notice .subject img {width:auto;height:11px;vertical-align:-1px;margin-left:4px;}
.xans-board-notice .date {font-size:13px;color:#999;margin-left:5px;}

/* 고정글 */
.xans-board-fixed {margin:-1px 0 0;display:block;width:100%;padding:0 7px;font-size:0;line-height:0;}
.xans-board-fixed li {display:inline-block;margin:0 0 20px;vertical-align:top;display:inline-block;color:#999;width:50%;}
.xans-board-fixed .thumbnail {padding:0 7px;margin:0 0 14px;}
.xans-board-fixed .thumbnail a {display:block;width:100%;padding-bottom:80%;background-position:center center;background-size:cover;}
.xans-board-fixed .summary {margin:0 7px;font-size:13px;line-height:1.5em;}
.xans-board-fixed .summary p {font-size:13px;}
.xans-board-fixed .summary .cate {font-size:11px;color:#aaa;margin-bottom:2px;}
.xans-board-fixed .summary .subject {font-size:13px;display:block;font-weight:600;margin-bottom:4px;}
.xans-board-fixed .summary .comment {font-size:11px;color:#333;font-weight:400;}
.xans-board-fixed .summary .subject img {width:auto;height:11px;vertical-align:-1px;margin-right:2px;}
.xans-board-fixed .summary .name {font-size:13px;}
.xans-board-fixed .summary .date {font-size:11px;}
.xans-board-fixed .summary .name,
.xans-board-fixed .summary .date {display:inline-block;margin-right:3px;}

/* 게시글 :이미지타입 보기 */
.xans-board-list-8 {margin:-1px 0 0;}
.xans-board-list-8 .thumbType {position:relative;color:#999;display:block;width:100%;padding:0 7px;font-size:0;line-height:0;}
.xans-board-list-8 .thumbType img {max-width:100%;}
.xans-board-list-8 .thumbType li {display:inline-block;margin:0 0 20px;vertical-align:top;}
.xans-board-list-8 .thumbnail {padding:0 7px;margin:0 0 13px;}
.xans-board-list-8 .thumbnail a {display:block;width:100%;padding-bottom:100%;background-position:center center;background-size:cover;}
.xans-board-list-8 .summary {margin:0 7px;font-size:13px;line-height:1.5em;}
.xans-board-list-8 .summary p {font-size:13px;}
.xans-board-list-8 .summary .cate {font-size:11px;color:#aaa;margin-bottom:2px;}
.xans-board-list-8 .summary .subject {font-size:13px;display:block;font-weight:600;}
.xans-board-list-8 .summary .comment {font-size:11px;color:#333;font-weight:400;}
.xans-board-list-8 .summary .subject img {width:auto;height:11px;vertical-align:-1px;margin-right:2px;}
.xans-board-list-8 .summary .name {font-size:13px;}
.xans-board-list-8 .summary .date {font-size:11px;}
.xans-board-list-8 .summary .name,
.xans-board-list-8 .summary .date {display:inline-block;margin-right:3px;}

.xans-board-list-8 .thumbType.grid2 li {width:50%;}
.xans-board-list-8 .thumbType.grid3 li {width:33.333%;}
.xans-board-list-8 .thumbType.grid4 li {width:25%;}
.xans-board-list-8 .thumbType.grid5 li {width:20%;}

/* 게시글 없음 */
.xans-board-empty {padding:28px 0;text-align:center;font-size:13px;background:#fff;}
.xans-board-paging-8.ec-base-paginate.typeList {background:#fff;}
