.xans-board-readpackage {background:#fff;}
.xans-board-readpackage img {vertical-align:middle;}
.xans-board-read {overflow:hidden;}
.xans-board-read .label {font-weight:normal;}
.xans-board-read .label.hide {display:none;}
.xans-board-read .title {background-color:#f7f7f7;padding:14px 14px 6px;}
.xans-board-read .title h3 {font-size:13px;word-wrap:break-word;}

.xans-board-read .info {background-color:#f7f7f7;overflow:hidden;padding:0 14px 14px;}
.xans-board-read .info p {position:relative;display:inline-block;padding-right:19px;color:#999;font-size:13px;vertical-align:top;}
.xans-board-read .info p:after {display:block;content:"";position:absolute;top:5px;right:7px;width:1px;height:8px;background:#e8e8e8;}
.xans-board-read .info p:last-child:after {display:none;}
.xans-board-read .info p.chk {width:100%;margin:0;}
.xans-board-read .info p.vote a {margin:0 0 0 3px;}
.xans-board-read .info p.vote .btn_vote img {vertical-align:-1px;}
.xans-board-read .info .writer a {color:#999;}
.xans-board-read .info .rating img {margin:-2px 0 0 4px;width:auto;height:13px;}
.xans-board-read .info .btnIcon img {width:12px;height:12px;}

.xans-board-read .content {margin:-1px 0 0;padding:14px 14px 14px;word-wrap:break-word;border-bottom:1px solid #e8e8e8;text-align:center;}
.xans-board-read .content p,
.xans-board-read .content div{text-align:left;}
.xans-board-read .content img {margin:0 auto 10px;max-width:100%;}
.xans-board-read .content ul li {list-style:disc;}
.xans-board-read .attach {oveflow:hidden;padding:14px 10px 14px;border-bottom:1px solid #e8e8e8;color:#757575;}
.xans-board-read .attach:after {content:"";display:block;clear:both;}
.xans-board-read .attach a {display:inline-block;max-width:95%;padding:0 0 0 17px;text-decoration:underline;white-space:nowrap;background:url("//img.echosting.cafe24.com/skin/mobile_ko_KR/board/ico_file.png") no-repeat 0 3px;background-size:13px 12px;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;white-space:nowrap;word-wrap:normal !important;
}
.xans-board-read .attach .label {float:left;width:20%;}
.xans-board-read .attach span {float:left;width:80%;}
.xans-board-read .attach span.file {color:#333;text-decoration:underline;}
.xans-board-read .password {overflow:hidden;padding:7px 14px 14px;border-bottom:1px solid #e8e8e8;color:#757575;}
.xans-board-read .password .label {float:left;width:20%;padding-top:3px;line-height:24px;}
.xans-board-read .password .form {float:left;position:relative;width:80%;}
.xans-board-read .password .form.ec-board-member {float:none;width:100%;text-align:center;}
.xans-board-read .password .form.ec-board-member .gRight {position:static;}
.xans-board-read .password .passwordForm {display:block;padding:0 107px 0 0;}
.xans-board-read .password .gRight {position:absolute;right:0;top:0;}
.xans-board-read #password {width:100%;}

/* 버튼 */
.xans-board-read .ec-base-button {margin:10px 14px;}

/* read - 상품 */
.xans-board-product {overflow:hidden;padding:14px;margin:0 14px 14px;border:4px solid #eee;background-color:#fff;}
.xans-board-product .ec-base-prdInfo {margin:0;padding:0;border:0;background:transparent;}
.xans-board-product .ec-base-prdInfo .ec-base-button {margin:0;}
