.xans-board-secure {margin:14px;line-height:1.5;border:1px solid #e8e8e8;}
.xans-board-secure h3 {color:#333;background:#f0f0f0;text-align:center;line-height:43px;font-size:13px;}
.xans-board-secure .secret {margin:-1px 0 0;background:#fff;}
.xans-board-secure .secret fieldset {margin:0 auto;padding:28px;width:255px;}
.xans-board-secure .info {padding:0 0 10px;text-align:center;}
.xans-board-secure .password label {display:none;}
