@charset "utf-8";

.ec-base-paginate {text-align:center;}
/* typeList */
.ec-base-paginate.typeList {padding:14px 0;font-size:0;line-height:0;}
.ec-base-paginate.typeList ol {margin:0 4px;}
.ec-base-paginate.typeList ol,
.ec-base-paginate.typeList ol li {display:inline-block;vertical-align:middle;}
.ec-base-paginate.typeList ol li:not(:first-child) {margin:0 0 0 4px;}
.ec-base-paginate.typeList ol li a {display:inline-block;width:29px;height:29px;border:1px solid #e8e8e8;border-radius:2px;font-size:11px;line-height:27px;color:#999;vertical-align:middle;background:#fff;}
.ec-base-paginate.typeList ol li .this {border-color:#333;color:#333;font-weight:600;}
.ec-base-paginate.typeList [class*='btn'] {display:inline-block;overflow:hidden;width:29px;height:29px;border:1px solid #e8e8e8;border-radius:2px;font-size:0;line-height:0;text-indent:-150%;vertical-align:middle;background:#fff;background-repeat:no-repeat;background-position:50% 50%;background-size:4px auto;}
.ec-base-paginate.typeList .btnPrev {background-image:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_prev.png");}
.ec-base-paginate.typeList .btnPrev {background-image:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_prev.png");}
.ec-base-paginate.typeList .btnNext {background-image:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_next.png");}

/* typeMoreview */
.ec-base-paginate.typeMoreview {margin:10px auto;}
.ec-base-paginate.typeMoreview .btnMore {display:block;margin:0 auto;padding:12px 0;color:#757575;font-weight:normal;background:#eee;width:150px;border-radius:22px;}
.ec-base-paginate.typeMoreview .icoMore {display:inline-block;margin:0 0 0 8px;width:13px;height:8px;font-size:0;line-height:0;vertical-align:baseline;background:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_more.png") no-repeat 0 50%;background-size:8px auto;}

/* typeSwipe */
.ec-base-paginate.typeSwipe {font-size:0;line-height:0;margin-top:17px;}
.ec-base-paginate.typeSwipe button.circle {overflow:hidden;margin:0 3px;width:8px;height:8px;border:0;border-radius:2px;cursor:pointer;background-color:rgba(200,200,200,0.7);}
.ec-base-paginate.typeSwipe button.circle.selected {width:36px;background-color:rgba(100,100,100,0.5);}
.ec-base-paginate.typeSwipe span {overflow:hidden;font-size:1px;line-height:0;color:transparent;text-indent:-150%;}
.ec-base-paginate.typeSwipe button.prev,
.ec-base-paginate.typeSwipe button.next {width:31px;font-size:15px;line-height:1.4em;border:0;cursor:pointer;background:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_prev.png") no-repeat 50% 50%;background-size:7px auto;}
.ec-base-paginate.typeSwipe button.next {background:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_next.png") no-repeat 50% 50%;background-size:7px auto;}
.ec-base-paginate.typeSwipe .prev,
.ec-base-paginate.typeSwipe .next {display:none;}

/* typeZoom */
.ec-base-paginate.typeZoom .btnPrev,
.ec-base-paginate.typeZoom .btnNext {overflow:hidden;width:31px;height:27px;border:1px solid #e8e8e8;border-radius:2px;font-size:1px;line-height:0;color:transparent;text-indent:-150%;background:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_prev.png") no-repeat 50% 50%;background-size:7px auto;}
.ec-base-paginate.typeZoom .btnNext {background:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_next.png") no-repeat 50% 50%;background-size:7px auto;}

/* typeTotal */
.paginate.typeTotal {color:#696969;}
.paginate.typeTotal > span {margin:0 8px;font-weight:bold;}
.paginate.typeTotal p {display:inline-block;vertical-align:middle;}
.paginate.typeTotal .icoPrev,
.paginate.typeTotal .icoNext {width:7px;height:13px;font-size:15px;line-height:1.4em;background:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_prev.png") no-repeat 50% 50%;background-size:7px auto;}
.paginate.typeTotal .icoNext {background:url("//img.echosting.cafe24.com/skin/mobile/layout/btn_next.png") no-repeat 50% 50%;background-size:7px auto;}
.paginate.typeTotal p span {overflow:hidden;display:block;width:29px;text-indent:-999px;}
.paginate.typeTotal strong {color:#555;}

