.xans-member-changepasswd {margin:14px 7px 0;padding:0 0 29px;color:#333;font-size:13px;}
.xans-member-changepasswd .info {overflow:hidden;margin-bottom:10px;padding:20px 10px;border:1px solid #e8e8e8;color:#333;background:#fff;}
.xans-member-changepasswd .info p {margin:0 0 10px;line-height:18px;}

/* INPUT SIZE */
.xans-member-changepasswd input[type=text],
.xans-member-changepasswd input[type=password],
.xans-member-changepasswd input[type=number],
.xans-member-changepasswd input[type=tel],
.xans-member-changepasswd select {width:100%;}