#popup div.wrap {background:#e8e8e8;}
.xans-mall-privacy #privacyTerms {display:block;min-height:500px;height:auto;padding:7px;border:1px solid #e8e8e8;border-radius:2px;color:#333;font-size:13px;background:#fff;}
