/*color1*/
.col1 {color:#ef6a6b !important;}
.col1:hover {color:#ef6a6b !important;}
.col1bg {background-color:#ef6a6b !important;}
.col1hov:hover {color:#ef6a6b !important;}

.bbsArea1 li .cate ,
.nav .gnb .d1:hover > a > span,
.nav .gnb .d2 > a > span:hover {color:#ef6a6b !important;}

[class^='btnSubmit']:not(.disabled):hover,
.nav .gnb .d2Box:after {background-color:#ef6a6b !important;}


/*color2*/
.col2 {color:#;}
.col2bg {background-color:#;}
.col2hov:hover {color:#;}