/* base */
.ec-base-box {padding:40px;margin-left:auto;margin-right:auto;border:4px solid #f2f2f2;color:#333;font-size:14px;}
.ec-base-box.gHalf {position:relative;padding:20px 0;}
.ec-base-box.gHalf:before {position:absolute;top:0;left:50%;display:block;content:"";width:1px;height:100%;background-color:#e8e8e8;}
.ec-base-box.typeBg {background-color:#fafafa;}
.ec-base-box.typeThin {border:0;}
.ec-base-box.typeThin h3.boxTitle {display:none;margin:0 0 20px;font-size:20px;text-align:center;}
.ec-base-box.typeThinBg {border-width:1px;border-color:#e8e8e8;background-color:#fafafa;}
.ec-base-box.center {text-align:center;}

/* 약관 */
.ec-base-box.typeThinBg > .agree {padding:35px;border:1px solid #e8e8e8;background:#fff;line-height:1.8;}
.ec-base-box.typeThinBg > .agree p {padding:0 0 17px;}

/* typeMember */
.ec-base-box.typeMember {padding:0;}
.ec-base-box.typeMember .information {display:table;table-layout:fixed;padding:10px 0;width:100%;box-sizing:border-box;}
.ec-base-box.typeMember .information > .title, .ec-base-box.typeMember .information > .thumbnail {display:table-cell;padding:0 15px;width:100px;text-align:center;vertical-align:middle;}
.ec-base-box.typeMember .information > .title {vertical-align:middle;}
.ec-base-box.typeMember .information > .thumbnail {display:none;}
.ec-base-box.typeMember .information > .thumbnail img {max-width:70px;}
.ec-base-box.typeMember .information .description {display:table-cell;padding:0 20px;width:auto;line-height:1.8;vertical-align:middle;}
.ec-base-box.typeMember.gMessage {border-width:1px;border-color:#e8e8e8;}
.ec-base-box .message {display:block;padding:14px 0 14px 45px;border-bottom:1px solid #e8e8e8;background:#fbfbfb url("//img.echosting.cafe24.com/skin/base/common/ico_info.gif") no-repeat 24px center;font-size:13px;font-weight:300;}

/* typeProduct */
.ec-base-box.typeProduct {display:table;table-layout:fixed;padding:25px 0;width:100%;box-sizing:border-box;}
.ec-base-box.typeProduct .thumbnail, .ec-base-box.typeProduct .information {display:table-cell;padding-left:25px;vertical-align:middle;}
.ec-base-box.typeProduct .thumbnail {width:130px;}
.ec-base-box.typeProduct .thumbnail img {width:90px;height:90px;border-radius:50%;}
.ec-base-box.typeProduct .information {padding-left:0;line-height:1.7;}