.ec-base-paginate {margin:30px 0 15px;text-align:center;font-size:0;line-height:0;}
.ec-base-paginate ol {display:inline-block;font-size:0;line-height:0;vertical-align:top;border-left:1px solid #eaeaea;border-right:1px solid #eaeaea;height:34px;padding:0 15px;}
.ec-base-paginate li {display:inline-block;font-size:11px;margin:0 -2px;}
.ec-base-paginate li:first-child {margin-left:0;}
.ec-base-paginate img {vertical-align:top;opacity:0.4;}
.ec-base-paginate li a {display:inline-block;text-align:center;width:34px;font-size:11px;font-weight:400;line-height:34px;color:#999;border-radius:50%;}
.ec-base-paginate li a.this {color:#666;background:#f4f4f4;font-weight:600;}
.ec-base-paginate a.nolink {cursor:default;}

/* typeSub */
.ec-base-paginate.typeSub ol {vertical-align:middle;border:0;}
.ec-base-paginate.typeSub li {display:inline-block;font-size:11px;margin:0 -2px;}
.ec-base-paginate.typeSub img {vertical-align:middle;}
.ec-base-paginate.typeSub li a {display:inline-block;text-align:center;width:34px;font-weight:400;line-height:34px;color:#999;border-radius:50%;}
.ec-base-paginate.typeSub li a.this {color:#333;background:#f4f4f4;font-weight:600;}
.ec-base-paginate.typeSub .first {margin-right:3px;}
.ec-base-paginate.typeSub .last {margin-left:3px;}