.ec-base-table table {position:relative;margin:10px 0 0;border-top:1px solid #e8e8e8;color:#333;}
.ec-base-table table th,
.ec-base-table table td {padding:16px;font-size:15px;line-height:1.6;vertical-align:middle;}
.ec-base-table.gLayoutFixed table {table-layout:fixed;}
.ec-base-table.gLayoutFixed .gLayoutAuto table {table-layout:auto;}
.ec-base-table thead th {border-bottom:1px solid #e8e8e8;vertical-align:middle;font-weight:normal;background:#fafafa;}
.ec-base-table tbody th {border-bottom:1px solid #e8e8e8;text-align:center;font-weight:normal;background-color:#fafafa;}
.ec-base-table th {word-break:break-all;word-wrap:break-word;color:#888;}
.ec-base-table td {border-bottom:1px solid #e8e8e8;vertical-align:middle;word-break:break-all;word-wrap:break-word;}
.ec-base-table td.clear {padding:0 !important;border:0 !important;}
.ec-base-table strong {font-weight:400;margin-right:3px;color:#888;}

/* board */
.ec-base-table .subject {line-height:24px !important;}
.ec-base-table .subject {font-size:0;}
.ec-base-table .subject * {vertical-align:middle;display:inline-block;line-height:26px;}
.ec-base-table .subject a {font-size:17px;}
.ec-base-table .subject span {font-size:12px;color:#999;}
.ec-base-table .num {font-size:13px;}
[class*='xans-board'] .subject * {margin:0 4px;}

/* horizontal */
/* typeWrite */
.ec-base-table.typeWrite img {max-width:100% !important;height:auto !important;}

/* vertical */
/* typeList */
.ec-base-table.typeList table:before {display:none;}
.ec-base-table.typeList tfoot td {background:#fafafa;}
.ec-base-table .message {padding:50px 0;text-align:center;color:#757575;font-weight:500;}
.ec-base-table table + .message {margin:-0;}
.ec-base-table table td.message {padding:50px 0;}
.ec-base-table .scroll .message {border:0;}
/* scroll */
.ec-base-table.typeList .head td {border-left:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;color:#333;vertical-align:middle;text-align:center;background:#fafafa;}
.ec-base-table.typeList .head td:first-child {border-left:0;}
.ec-base-table.typeList .scroll {position:relative;overflow-x:hidden;overflow-y:scroll;max-height:185px;min-height:100px;border:1px solid #e8e8e8;border-top-width:0;margin-top:-1px;}
.ec-base-table.typeList .scroll table {border:0;margin:0;}
.ec-base-table.typeList .scroll table:before {display:none;}
.ec-base-table.typeList .scroll .message {border:0;}
/* thead - blind */
.ec-base-table thead.blind,
.ec-base-table thead.blind th {display:none;}
.ec-base-table thead.blind + tbody tr:first-child th,
.ec-base-table thead.blind + tbody tr:first-child td {border-top-width:0;}
/* Line */
.ec-base-table.typeList.gLine table {border-width:0;border-bottom-width:1px;}

/* common */
/* border, background style none */
.ec-base-table.typeClear table:before {display:none;}
.ec-base-table.typeClear table,
.ec-base-table.typeClear th,
.ec-base-table.typeClear td {border:0 none;background:none;}
.ec-base-table.typeClear th {font-weight:bold;}
/* align */
.ec-base-table .center {text-align:center;}
.ec-base-table .left {text-align:left;padding-left:15px;}
.ec-base-table .right {text-align:right;padding-right:15px;}
.ec-base-table .top th, .ec-base-table th.top,
.ec-base-table .top td, .ec-base-table td.top {vertical-align:top;}
.ec-base-table .middle th, .ec-base-table th.middle,
.ec-base-table .middle td, .ec-base-table td.middle {vertical-align:middle;}
/* form */
.ec-base-table img {vertical-align:middle;}

@media print {
.ec-base-table table:before {display:none;}
}