.xans-product-normalmenu {padding:60px 0 16px;}
.xans-product-normalmenu .function {overflow:hidden;text-align:right;line-height:38px;}
.xans-product-normalmenu .function .btnCompare {display:inline-block;padding:0 12px;border-left:1px solid #e8e8e8;}
.xans-product-normalmenu .function .btnCompare:hover {text-decoration:none;}
.xans-product-normalmenu .prdCount {float:left;color:#333;}
.xans-product-normalmenu ul#type {display:inline;}
.xans-product-normalmenu ul#type li {display:inline;padding:0 11px 0 8px;position:relative;}
.xans-product-normalmenu ul#type li:before {display:block;content:"";position:absolute;top:4px;right:0;width:1px;height:7px;background:#e3e3e3;}
.xans-product-normalmenu ul#type li:last-child {padding-right:0;}
.xans-product-normalmenu ul#type li:last-child:before {display:none;}
.xans-product-normalmenu ul#type li a {font-size:14px;}
.xans-product-normalmenu fieldset {padding:7px 12px;border:1px solid #ddd;text-align:right;background:#fbfbfb;}
.xans-product-normalmenu fieldset select {height:24px;}