a.xans-search-form {margin:0 0 20px;}

/* .searchbox */
.xans-search-form .searchbox {margin:21px 0 20px;padding:45px 0;background:#fff;}
.xans-search-form .searchbox fieldset {width:600px;margin:0 auto;padding:0 47px;}
.xans-search-form .searchbox .item {margin:8px 0 0;color:#333;line-height:20px;*zoom:1;}
.xans-search-form .searchbox .item:after {content:"";display:block;clear:both;}
.xans-search-form .searchbox .item strong {float:left;font-size:15px;width:105px;padding:9px 10px 0 0;}
.xans-search-form .searchbox .item input {padding:5px 4px 5px 10px;}
.xans-search-form .searchbox .popular {margin:8px 0 0 105px;font-size:13px;line-height:34px;*zoom:1;}
.xans-search-form .searchbox .popular.xans-search-hotkeyword {margin-bottom:17px;}
.xans-search-form .searchbox .popular:after {content:"";display:block;clear:both;}
.xans-search-form .searchbox .popular strong {float:left;min-width:55px;padding:0 10px 0 0;color:#6b6b6b;}
.xans-search-form .searchbox .popular p a {margin:0 8px 0 0;padding:0 0 0 10px;color:#757575;background:url("//img.echosting.cafe24.com/skin/base/product/bg_popular_search.gif") no-repeat 0 3px;}
.xans-search-form .searchbox .popular p a:first-child {padding-left:0;background:none;}
.xans-search-form .searchbox .button {text-align:center;margin-top:20px;}
.xans-search-form .noData {padding:50px 0;text-align:center;line-height:1.9em;}
.xans-search-form .noData > strong {display:block;color:#333;font-size:13px;line-height:23px;}
.xans-search-form .noData ul {margin:10px 0 0;}

/* Input Size */
.xans-search-form .searchbox select {height:36px;}
.xans-search-form .searchbox #category_no,
.xans-search-form .searchbox #order_by {width:400px;}
.xans-search-form .searchbox #search_type {width:120px;}
.xans-search-form .searchbox #keyword {width:260px;}
.xans-search-form .searchbox #exceptkeyword {width:200px;padding:5px 4px 5px 10px;}
.xans-search-form .searchbox #product_price1 {width:170px;margin:0 5px 0 0;}
.xans-search-form .searchbox #product_price2 {width:170px;margin:0 0 0 5px;}

/* searchResult */
.xans-search-form .searchResult {overflow:hidden;text-align:right;line-height:38px;padding:30px 0 10px;}
.xans-search-form .searchResult .record {float:left;color:#333;}
.xans-search-form .searchResult .listType {display:inline;line-height:38px;}
.xans-search-form .searchResult .listType li {display:inline;padding:0 9px 0 6px;position:relative;cursor:pointer;}
.xans-search-form .searchResult .listType li:before {display:block;content:"";position:absolute;top:4px;right:0;width:1px;height:7px;background:#e3e3e3;}
.xans-search-form .searchResult .listType li:last-child {padding-right:0;}
.xans-search-form .searchResult .listType li:last-child:before {display:none;}
.xans-search-form .searchResult .listType li:hover {color:#333;text-decoration:none;}