#prdDetail img {max-width:100% !important;height:auto !important;}

.xans-product-additional .ec-base-table table {margin:0;}
.xans-product-additional .ec-base-tab .menu {margin:30px 0 11px;}
.xans-product-additional .cont {padding:27px 10px 46px 9px;color:#333;line-height:18px;}
.xans-product-additional .cont h3 {margin:0 0 20px;color:#333;font-size:14px;}

/* 상품 게시판 - 내용 */
#product-review-read td,
#product-qna-read td {padding:0;}
#product-review-read td .view,
#product-qna-read td .view {padding:40px 50px;background-color:#f9f9f9;text-align:left;}
#product-review-read td .view img,
#product-qna-read td .view img {margin:7px 0;}
.xans-product-additional div.board {padding-top:27px;color:#333;line-height:20px;}
.xans-product-additional div.board h3 {font-size:14px;}
.xans-product-additional div.board p.desc {padding:0;}
.xans-product-additional div.board p.nodata {margin:15px 0 0;background-color:#f9f9f9;font-weight:400;color:#333;line-height:100px;text-align:center;}
.xans-product-additional div.board td.subject a {font-size:16px !important;}
.xans-product-additional div.board td .comment_count {font-size:12px;color:#999;margin:0 3px;}
.xans-product-additional div.board td .view *:not(input) {font-family:inherit !important;font-weight:normal !important;font-size:15px !important;line-height:26px !important;color:#666 !important;}

.xans-product-additional div.board .ec-base-button {margin-top:15px;}
.xans-product-additional div.board .ec-base-button a {width:140px;margin:0 2px;}

/* 상품 게시판 - 댓글리스트 */
.xans-product-additional .boardComment {padding:0 50px 30px;background-color:#f9f9f9;}
.xans-product-additional .boardComment li {position:relative;background:#fcfcfc;border:1px solid #f0f0f0;margin-bottom:10px;padding:25px 30px;border-radius:15px;text-align:left;}
.xans-product-additional .boardComment li * {font-size:14px;line-height:20px;}
.xans-product-additional .boardComment li .comment {border-top:1px solid #e8e8e8;margin-top:8px;padding-top:8px;font-size:14px;line-height:21px;word-break:break-all;}
.xans-product-additional .boardComment li .name {margin-right:7px;}
.xans-product-additional .boardComment li .name input {width:13px;height:13px;margin:0 2px 0 0;vertical-align:-2px;}
.xans-product-additional .boardComment li .date {margin-right:7px;font-size:12px;color:#aaa;}
.xans-product-additional .boardComment li .grade {margin-right:7px;}
.xans-product-additional .boardComment li .button {position:absolute;right:0;top:6px;}

/* 상품 게시판 - 댓글쓰기 */
#commentWriteForm_4,
#commentWriteForm_6 {padding:0;}
.xans-product-additional .memoCont {padding:30px 50px;text-align:left;background:#f4f4f4;}
.xans-product-additional .memoCont .user {overflow:hidden;padding:0 90px 0 0;}
.xans-product-additional .memoCont .user input[type=text],
.xans-product-additional .memoCont .user input[type=password] {width:135px;margin:0 10px 0 5px;border:0;height:30px;line-height:30px;}
.xans-product-additional .memoCont .user .secret {margin:0 20px 0 10px;}
.xans-product-additional .memoCont .user .secret label {margin:0;}
.xans-product-additional .memoCont .user textarea {float:left;width:100%;height:59px;text-indent:4px;border:0;}
.xans-product-additional .memoCont .user a {float:right;margin:0 -90px 0 0;}
.xans-product-additional .memoCont .nameArea {display:block;margin:0 0 10px;}
.xans-product-additional .memoCont .nameArea .ec-base-help {margin-top:10px;}
.xans-product-additional .memoCont .rating {margin:12px 0 0;}
.xans-product-additional .memoCont .rating label {padding:0 10px 0 0;}
.xans-product-additional .memoCont .rating em {font-style:normal;}
.xans-product-additional .memoCont .text {margin:5px 0 0;font-size:14px;}
.xans-product-additional .memoCont .text span {color:#333;}
.xans-product-additional .memoCont .captcha {margin:8px 0 0;padding:10px 0 0;border-top:1px solid #e8e8e8;color:#757575;}
.xans-product-additional .memoCont .captcha img {vertical-align:middle;}
.xans-product-additional .memoCont .captcha input {margin:0 10px 0 20px;font-size:14px;}
.xans-product-additional table.board td .view + form .memoCont {margin-top:0;}

/* 상품 게시판 - 비밀글 */
#SecretForm_4 .view,
#SecretForm_6 .view {text-align:center !important;padding:30px 50px !important;}
#SecretForm_4 input,
#SecretForm_6 input {width:40px;line-height:26px;margin-left:2px;cursor:pointer;background-color:#333;color:#fff;border:0;outline:0;border-radius:3px;}
#SecretForm_4 input#secure_password,
#SecretForm_6 input#secure_password {width:130px;height:26px;color:#333;margin-left:7px;padding:0 4px;border:1px solid #e8e8e8;line-height:26px;cursor:text;background:#fff;}

/* 리뷰 게시판 */
table.prd_review td * {line-height:21px;vertical-align:middle;}
table.prd_review td.rate {text-align:center;}
table.prd_review td.subject {font-size:15px;padding-left:24px !important;}
table.prd_review td.subject span.no {font-size:0;}
table.prd_review td.subject span.no img {margin-right:7px;}
table.prd_review td.subject span.writer {position:relative;padding:0 10px;margin-right:9px;}
table.prd_review td.subject span.writer:before {display:block;content:"";position:absolute;top:8px;right:0;width:1px;height:7px;background:#ddd;}
table.prd_review td.subject span.date {text-align:center;color:#999;}
table.prd_review td.subject .point {margin-left:9px !important;}
table.prd_review td.subject img {margin:0 6px;}
table.prd_review td.image {padding:10px 0 !important;text-align:center;}
table.prd_review td.image a {display:block;width:50px;height:50px;border-radius:40%;background-position:center center;background-size:cover;}

/* 댓글의 댓글 */
.xans-product-additional .boardComment li.replyArea {margin:-1px 0 0;padding:10px 0 7px 33px;border:1px solid #e8e8e8;background:url("//img.echosting.cafe24.com/skin/admin_ko_KR/board/ico_comment.gif") no-repeat 20px 15px;}
.xans-product-additional .boardComment li.replyArea .commentSecret {margin-right:30px;}
.xans-product-additional .boardComment li.replyArea .comment {margin:7px 0 0;padding:0;border-top:0;}

/* 권한없을시 */
.xans-product-additional .noAccess {margin:15px 0 10px;border:1px solid #e8e8e8;font-weight:bold;color:#333;line-height:39px;text-align:center;}

/* 미성년자 */
.xans-product-additional .minor {margin:15px 0 0;padding:35px 0 24px;border:1px solid #e8e8e8;font-weight:bold;color:#333;line-height:14px;text-align:center;}
.xans-product-additional .minor p:first-child img {margin:-11px 8px 0 0;vertical-align:top;}
.xans-product-additional .minor strong {color:#333;}
.xans-product-additional .minor .button {margin:-7px 0 0;}

/* 비밀글 관련 */
.xans-product-additional .commentSecret {margin:10px 10px 5px 0;padding:10px 15px;border:1px solid #e8e8e8;background-color:#fafafa;color:#333;}