.xans-product-detail {position:relative;margin:30px auto 0;padding:70px;width:100%;}
.xans-product-detail .detailArea {display:flex;min-height:650px;}

/* section title */
.dtl_tit {text-align:center;line-height:1.8;vertical-align:middle;padding:50px 0 30px;}
.dtl_tit h2 {font-size:24px;font-weight:400;}
.dtl_tit h3 {font-size:14px;font-weight:normal;color:#999;}

/* headingArea */
.xans-product-detail .headingArea {position:relative;padding:0 0 35px;line-height:24px;}
.xans-product-detail .headingArea .supply {overflow:hidden;float:right;}
.xans-product-detail .headingArea .supply span {padding:0 3px 0 0;font-size:16px;font-weight:bold;color:#555;}

/* imgArea */
.xans-product-detail .imgArea {flex:1;padding-right:50px;}
.xans-product-detail .imgArea .keyImg {width:100%;margin:0 auto;position:relative;}
.xans-product-detail .imgArea .keyImg .thumbnail {display:inline-block;position:relative;width:100%;}
.xans-product-detail .imgArea .keyImg .prdIcon {position:absolute;top:0;left:0;width:100%;height:100%;background-repeat:no-repeat;}
.xans-product-detail .imgArea .keyImg img {width:100%;cursor:pointer;}
.xans-product-detail .imgArea .keyImg .btnZoom {display:none;}
.xans-product-detail .imgArea .listImg {overflow:hidden;width:100%;margin:5px auto 0;}
.xans-product-detail .imgArea .listImg ul {width:100%;height:77px;font-size:0;line-height:0;}
.xans-product-detail .imgArea .listImg li {display:inline-block;margin-right:5px;font-size:13px;line-height:14px;vertical-align:top;}
.xans-product-detail .imgArea .listImg li img {height:77px;cursor:pointer;}
.xans-product-detail .imgArea .listImg button {position:absolute;top:0;width:21px;height:100%;font-size:0;line-height:0;border:1px solid #eee;}
.xans-product-detail .imgArea .listImg .prev {left:0;background:url('/_idio/img/listImg_arr_01.png') #fff no-repeat center center;}
.xans-product-detail .imgArea .listImg .next {right:0;background:url('/_idio/img/listImg_arr_02.png') #fff no-repeat center center;}
.xans-product-detail .imgArea .control {overflow:hidden;width:100%;margin:5px auto 0;border:1px solid #e8e8e8;text-align:center;background:#f9f9f9;}
.xans-product-detail .imgArea .control .prev {float:left;border-right:1px solid #e8e8e8;}
.xans-product-detail .imgArea .control .next {float:right;border-left:1px solid #e8e8e8;}
.xans-product-detail .imgArea .color {overflow:hidden;width:100%;margin:5px auto;}
.xans-product-detail .imgArea .chips {float:left;width:28px;height:18px;margin:0 3px 3px 0;border:1px solid #e8e8e8;font-size:0;line-height:0;}
.xans-product-detail .imgArea .xans-product-action {width:100%;margin:5px auto 0;}

/* fixOpt */
.fixOpt {position:relative;}
.fixOpt.fixed {position:fixed;right:20px;top:97px;z-index:103;width:540px;}

.fixOpt .fixOpt_btn {position:absolute;top:0;right:0;display:none;width:60px;height:60px;cursor:pointer;border-radius:50%;font-size:12px;text-align:center;color:#fff;}
.fixOpt.fixed .fixOpt_btn {display:block;background:url('/_idio/img/fixOpt_arr_01.png') #333 no-repeat center center;}
.fixOpt.fixed .fixOpt_btn.closed {background:url('/_idio/img/fixOpt_arr_02.png') #333 no-repeat center center;}

.fixOpt.fixed .fixOpt_cont {display:none;margin-top:70px;}
.fixOpt.fixed .fixOpt_cont.opened {display:block;width:100%;background-color:#fff;border-radius:9px;border:1px solid #eee;box-shadow:0 5px 11px rgba(0,0,0,0.2);}
.fixOpt.fixed .fixOpt_option {height:450px;padding:12px 20px;overflow-y:auto;border:12px solid transparent;}
.fixOpt.fixed .fixOpt_total {height:36px;padding:0 25px;}
.fixOpt.fixed .fixOpt_total .totalPrice {padding:9px 0 0 !important;}
.fixOpt.fixed .fixOpt_total .totalPrice em {font-size:17px !important;}
.fixOpt.fixed .fixOpt_action {height:69px;padding:0 4px;overflow:hidden;}
.fixOpt.fixed .fixOpt_action .ec-base-button [class^='btn'] {padding:13px 0 !important;}

.fixOpt.fixed .ec-base-help,
.fixOpt.fixed .productSet.additional,
.fixOpt.fixed .fixOpt_action #NaverChk_Button {display:none !important;}

/* infoArea */
.xans-product-detail .infoArea {flex:1;}
.xans-product-detail .infoArea p.delivery {padding:10px 0 20px;}
.xans-product-detail .infoArea .guideArea {overflow:hidden;padding:12px 0 13px 0;border-top:1px solid #aaa;}
.xans-product-detail .infoArea .guideArea .info {float:left;font-size:13px;color:#757575;line-height:23px;}
.xans-product-detail .infoArea .guideArea .sizeGuide {float:right;}
.xans-product-detail .infoArea .sizeGuide a {display:inline-block;display:block;border-radius:3px;padding:0 10px;line-height:21px;font-size:12px;color:#333;}
.xans-product-detail .infoArea .icon img {margin-right:4px;margin-bottom:5px;}

.xans-product-detail .infoArea table {border:0;font-size:13px;margin-top:12px;}
.xans-product-detail .infoArea th,
.xans-product-detail .infoArea td {padding:3px 0;vertical-align:middle;line-height:1.7;}
.xans-product-detail .infoArea th {width:115px;text-align:left;}
.xans-product-detail .infoArea th,
.xans-product-detail .infoArea th span {font-weight:normal !important;font-size:13px !important;color:#333 !important;}
.xans-product-detail .infoArea img {vertical-align:middle;}
.xans-product-detail .infoArea td input[type=text] {width:80%;}
.xans-product-detail .infoArea select {width:100%;font-size:13px;}
.xans-product-detail .infoArea td #delivery_cost_prepaid {margin:0 10px 5px 0;width:140px;}
.xans-product-detail .infoArea td.social img {margin-right:5px;cursor:pointer;}
.xans-product-detail .infoArea td .sale {text-decoration:line-through;}
.xans-product-detail .infoArea td .period {display:block;font-size:13px;}
.xans-product-detail .infoArea td .mileage li {line-height:1.7em;}
.xans-product-detail .infoArea td .delivery label {margin:0 30px 0 0;}
.xans-product-detail .infoArea td img.qrcode {border:1px solid #e8e8e8;}
.xans-product-detail .infoArea td.fileInfo input {width:288px;border:1px solid #e8e8e8;}
.xans-product-detail .infoArea td.fileInfo .infoDesc {margin-top:5px;}
.xans-product-detail .infoArea td.fileInfo li {color:#999;font-size:13px;}
.xans-product-detail .infoArea td.fileInfo li img {vertical-align:middle;}
.xans-product-detail .infoArea table.prd_info,
.xans-product-detail .infoArea table.prd_sns {margin-top:0;}
.xans-product-detail .infoArea table.prd_info tr:nth-child(2) {border-bottom:1px solid #aaa;}
.xans-product-detail .infoArea table.prd_info tr:nth-child(1) th,
.xans-product-detail .infoArea table.prd_info tr:nth-child(2) th {padding:0;}
.xans-product-detail .infoArea table.prd_info tr:nth-child(1) th *,
.xans-product-detail .infoArea table.prd_info tr:nth-child(2) th * {font-size:0 !important;}
.xans-product-detail .infoArea table.prd_info tr:nth-child(1) td,
.xans-product-detail .infoArea table.prd_info tr:nth-child(2) td {display:block;width:100%;padding-bottom:0;margin-left:-115px;}
.xans-product-detail .infoArea table.prd_info tr:nth-child(1) td {padding-bottom:2px;}
.xans-product-detail .infoArea table.prd_info tr:nth-child(2) td {padding-bottom:20px;}
.xans-product-detail .infoArea table.prd_info tr:nth-child(3) th,
.xans-product-detail .infoArea table.prd_info tr:nth-child(3) td {padding-top:18px;}
.xans-product-detail .infoArea table.prd_info #span_product_price_sale span {font-weight:normal !important;font-size:13px !important;}
.xans-product-detail .infoArea .likeButton {display:inline-block;}
.xans-product-detail .infoArea .likeButton button {display:block;margin-left:7px;padding:4px 0;background-color:transparent;outline:0;}
.xans-product-detail .infoArea .likeButton button img {vertical-align:top;margin-right:3px;}
.xans-product-detail .infoArea .likeButton button {font-size:12px;color:#999;line-height:11px;}
.xans-product-detail .delv_price_B strong {font-weight:normal;}
.xans-product-detail .btnTooltip {display:inline-block;position:relative;z-index:10;vertical-align:middle;}

.xans-product-detail .infoArea .xans-product-option tr th {vertical-align:middle;}
.xans-product-detail .infoArea .xans-product-option tr td {}
.xans-product-detail .infoArea .xans-product-option tr:first-child th,
.xans-product-detail .infoArea .xans-product-option .xans-product-fileoption th {padding:12px 0;border-top:1px solid #e8e8e8;}
.xans-product-detail .infoArea .xans-product-option tr:first-child td,
.xans-product-detail .infoArea .xans-product-option .xans-product-fileoption td {padding:12px 0;border-top:1px solid #e8e8e8;}
.xans-product-detail .infoArea .xans-product-option td.selectButton {text-align:right;}

.xans-product-detail .infoArea .xans-product-addoption .txtByte {font-size:13px;vertical-align:middle;}
.xans-product-detail .infoArea .xans-product-addoption .txtByte strong {color:#333;}

/* 상품 옵션 */
.xans-product-detail .infoArea .xans-product-option .value {color:#999;font-size:13px;word-break:break-all;}
.xans-product-detail .infoArea .xans-product-option .value .ec-product-value {color:#333;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button li {position:relative;overflow:hidden;display:inline-block;margin:0 6px 3px 0;vertical-align:top;border-radius:6px;background:#eaeaea;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button li:last-child {margin-right:0;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button li a {display:block;min-width:32px;border-radius:3px;text-align:center;text-decoration:none;word-break:break-all;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button li a span {display:inline-block;padding:6px 10px;font-size:13px;line-height:1.7;color:#777;border-radius:3px;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li {padding:3px;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a {min-width:24px;width:24px;height:24px;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a img {max-width:100%;max-height:100%;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview li a span {overflow:hidden;line-height:0;font-size:0;padding:0;text-indent:120%;white-space:nowrap;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span,
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-disabled span {position:absolute;left:0;top:0;z-index:1;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span {background:url("//img.echosting.cafe24.com/skin/base/product/soldout_bg.png") repeat;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-soldout a span {display:inline-block;width:100%;height:100%;cursor:not-allowed;color:#d7d7d7;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-disabled a {cursor:default;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-disabled a span {display:inline-block;width:100%;height:100%;color:#444;background:#aaa;filter:alpha(opacity=30);opacity:0.3;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-selected {background:#444;}
.xans-product-detail .infoArea .xans-product-option .ec-product-button .ec-product-selected a span {color:#fff;}
.xans-product-detail .infoArea .xans-product-option .ec-product-radio > li {display:inline-block;margin:0 0 3px;}
.xans-product-detail .infoArea .xans-product-option .ec-product-radio label {margin:0 7px 0 0;}
.xans-product-detail .infoArea .xans-product-option .ec-product-radio label input {margin:0 2px 0 0;}
.xans-product-detail .infoArea .xans-product-option .ec-product-radio .ec-product-disabled,
.xans-product-detail .infoArea .xans-product-option .ec-product-radio .ec-product-soldout {color:#d7d7d7;}

/* xans-product-action */
.xans-product-detail .infoArea .xans-product-action {padding:0;}
.xans-product-detail .infoArea .xans-product-action [class^='btn'] {font-size:15px;font-weight:500;}

/* eventArea */
.xans-product-detail .eventArea {color:#333;}
.xans-product-detail .eventArea h3 {padding:0 0 0 9px;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;font-size:13px;color:#333;line-height:39px;}
.xans-product-detail .eventArea .event {padding:27px 10px 46px 9px;color:#333;line-height:18px;}

/* xans-myshop-benefit */
.xans-myshop-asyncbenefit {margin:30px 0;}
.xans-myshop-asyncbenefit .member {margin:2px 0 19px;}
.xans-myshop-asyncbenefit .member em {font-style:normal;}

/* 상품 미리보기 이미지 */
#image_zoom_small {display:block;position:absolute;z-index:10;background:#fff;filter:alpha(opacity=50);opacity:0.5;}
#zoom_wrap {position:absolute;top:0;left:103%;z-index:11;display:block;}
#zoomMouseGiude {display:none !important;}
.image_zoom_large {position:absolute;z-index:10;width:500px;height:500px;overflow:hidden;background:#fff;}
.image_zoom_large .image_zoom_large_relative {position:relative;display:block;}
.image_zoom_large .image_zoom_large_relative img#zoom_image {position:absolute;z-index:10;max-width:none;}

#NaverChk_Button {clear:both;margin:10px 0 0;float:right;}

#divNvPointInfo {display:none;position:absolute;z-index:99;width:245px;padding:10px;color:#333;background:#fff;border:1px solid #5B9761;}
#divNvPointInfo a {display:block;padding:5px 0 0;color:#333;}
#divNvPointInfo a img {vertical-align:middle;}
#imgNaverMileageHelp {cursor:pointer;}

/* 세트상품 및 추가구성상품 */
.xans-product-detail .productSet {background-color:#fff;border-radius:5px;overflow:hidden;}
.xans-product-detail .productSet > .title {position:relative;line-height:46px;vertical-align:middle;background-color:#333;padding:0 20px;}
.xans-product-detail .productSet > .title h3 {font-size:13px;color:#fff;font-weight:600;}
.xans-product-detail .productSet > .title h3 span {font-size:13px;color:#aaa;font-weight:normal;}
.xans-product-detail .productSet .product {max-height:240px;overflow-y:auto;border:5px solid transparent;}
.xans-product-detail .productSet .product > li {position:relative;border-bottom:1px solid #e8e8e8;}
.xans-product-detail .productSet .product > li:last-child {border-bottom:0;}
.xans-product-detail .productSet .thumbnail {position:absolute;top:15px;right:15px;z-index:1;width:100px;}
.xans-product-detail .productSet .thumbnail img {max-width:100%;}
.xans-product-detail .productSet .information {position:relative;padding:15px 135px 0 15px;}
.xans-product-detail .productSet .information > p {margin:0 0 6px;font-size:13px;}
.xans-product-detail .productSet .information strong {font-weight:normal;}
.xans-product-detail .productSet .information .name {padding-right:60px;font-size:14px;font-weight:600;}
.xans-product-detail .productSet .information .name strong {font-weight:600;}
.xans-product-detail .productSet .information .price .salePrice {margin-left:6px;}
.xans-product-detail .productSet .information .btnInfo {position:absolute;top:15px;right:15px;z-index:1;display:block;width:57px;height:20px;vertical-align:middle;background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/btn_info.gif") no-repeat 0 0;}
.xans-product-detail .productSet .information .btnInfo.selected {background:url("//img.echosting.cafe24.com/skin/base_ko_KR/product/btn_info_on.gif") no-repeat 0 0;}
.xans-product-detail .productSet .information .btnInfo span {overflow:hidden;font-size:0;width:0;height:0;line-height:0;text-indent:120%;}
.xans-product-detail .productSet .option {padding:10px 135px 9px 15px;}
.xans-product-detail .productSet .option > li {margin:0 0 12px;}
.xans-product-detail .productSet .option .name {display:block;margin:0 0 5px;font-weight:normal;font-size:13px;}
.xans-product-detail .productSet .option .value {display:block;margin-top:3px;}
.xans-product-detail .productSet .option input[type=text] {width:80%;}
.xans-product-detail .productSet .option .ec-base-qty {margin:7px 0 0;}
.xans-product-detail .productSet .option .selectButton {margin:0 0 6px;text-align:right;}
.xans-product-detail .productSet .guide {overflow:hidden;position:relative;margin:0 15px;}
.xans-product-detail .productSet .guide:after {content:"";display:block;clear:both;}
.xans-product-detail .productSet .guide .qty {float:left;display:inline-block;padding:12px 0;color:#757575;}
.xans-product-detail .productSet .guide .qty:before {content:"";position:absolute;top:0;left:0;display:inline-block;width:100%;border-top:1px solid #e8e8e8;}
.xans-product-detail .productSet .guide .sizeGuide {float:right;height:15px;margin:12px 0;background:url("//img.echosting.cafe24.com/skin/base/product/ico_sizeGuide.gif") no-repeat 0 1px;}
.xans-product-detail .productSet .guide .sizeGuide:before {content:"";position:absolute;top:0;left:0;display:inline-block;width:100%;border-top:1px solid #e8e8e8;}
.xans-product-detail .productSet .guide .sizeGuide a {display:inline-block;padding:0 15px 0 24px;background:url("//img.echosting.cafe24.com/skin/base/product/ico_sizeGuide_go.gif") no-repeat 100% center;}
.xans-product-detail .productSet.additional .title span {color:#aaa;font-weight:normal;margin-left:5px;}
.xans-product-detail .productSet.additional .title .toggle {position:absolute;width:100%;height:100%;top:0;left:0;}
.xans-product-detail .productSet.additional .title .toggle img {width:100%;height:100%;opacity:0;}
.xans-product-detail .productSet.hide .product {display:none;}
.xans-product-detail .productSet .ec-base-desc {padding:0 0 10px;border-top:0;border-bottom:1px solid #e8e8e8;}
.xans-product-detail .productSet .ec-base-desc dt {width:135px;padding:0 0 0 20px;}

/* 수량 */
.ec-base-desc.quantity {margin:10px 0 0;padding:10px 0 0;border-top:1px solid #e8e8e8;}
.ec-base-desc.quantity dt {width:125px;padding:0 0 0 8px;}

/* 총 상품 */
#totalProducts {margin:21px 0 0;}
#totalProducts table {margin:0;background-color:#f6f6f6;}
#totalProducts table .left {text-align:left;padding-left:20px;}
#totalProducts table .center {text-align:center;}
#totalProducts table .right {font-size:14px;font-weight:600;text-align:right;padding-right:20px;}
#totalProducts thead th {height:0;padding:0;font-size:0;line-height:0;}
#totalProducts tbody th {vertical-align:middle;}
#totalProducts tbody td:first-child {padding-left:20px;}
#totalProducts tbody td {padding:13px 0;border-bottom:1px solid #e5e5e5;line-height:18px;vertical-align:middle;word-wrap:break-word;word-break:break-all;}
#totalProducts tbody tr:last-child > td {border-bottom:0;}
#totalProducts tbody td p {padding:0 10px 0 0;font-weight:500;line-height:1.6;font-size:14px;}
#totalProducts tbody td p.product span {font-weight:normal;color:#999;font-size:13px;line-height:1.6;}
#totalProducts tbody td p.product span.soldOut {color:#333;}
#totalProducts tbody td img {vertical-align:middle;}
#totalProducts tbody td .quantity {display:inline-block;position:relative;width:56px !important;vertical-align:top;}
#totalProducts tbody td .quantity input {width:30px;height:23px;padding:0 4px;line-height:23px;border:1px solid #d5d5d5;}
#totalProducts tbody td .quantity .up {position:absolute;left:28px;top:0;}
#totalProducts tbody td .quantity .down {position:absolute;left:28px;top:12px;}
#totalProducts tbody td .delete {height:100%;}
#totalProducts tbody td .delete img {margin-top:0;}
#totalProducts tbody.option_products tr td .quantity input,
#totalProducts tbody.add_products tr td .quantity input {height:19px;line-height:19px;}
#totalProducts tbody.option_products tr td .quantity .down,
#totalProducts tbody.add_products tr td .quantity .down {bottom:0;top:auto;}
#totalProducts tbody td .mileage {display:block;white-space:nowrap;}
#totalProducts tbody td .mileage_price {}
.xans-product-detail .infoArea table.prd_total {margin-top:13px !important;}

/* 총 상품 금액 */
.totalPrice {padding:18px 0 25px;vertical-align:middle;text-align:right;font-size:13px;}
.totalPrice strong {font-weight:400;margin-right:7px;letter-spacing:0.03em;}
.totalPrice .total {color:#333;font-size:13px;font-weight:400;}
.totalPrice .total em {color:#333;font-style:normal;font-size:19px;font-weight:800;}
.totalPrice .total strong {margin-right:2px;}

/* 배송비 차등부과 레이어 */
.differentialShipping {display:none;overflow:hidden;position:absolute;left:50%;top:17px;z-index:100;width:350px;margin:0 0 0 -176px;}
.differentialShipping h3.title {height:35px;padding:0 35px 0 19px;border:0;color:#fff;font-size:14px;line-height:35px;background:#444;}
.differentialShipping .content {padding:12px 18px 14px 18px;border:1px solid #757575;border-top:0;text-align:center;background:#fff;}
.differentialShipping .close {position:absolute;right:14px;top:12px;}
.differentialShipping .close img {cursor:pointer;}

.differentialShipping .content ul {color:#757575;line-height:25px;}
.differentialShipping .content li {overflow:hidden;}
.differentialShipping .content li strong {float:left;font-weight:normal;}
.differentialShipping .content li span {float:right;color:#333;}
.differentialShipping .content .info {margin:7px 0 0;padding:7px 0 0;border-top:1px dotted #bbb;color:#aaa;text-align:right;}

/* 배송비레이어 */
.xans-product-detail .shippingFee {position:relative;display:inline-block;}
.xans-product-detail .shippingFee .ec-base-tooltip {margin:0 0 0 -180px;width:360px;}
.xans-product-detail .shippingFee .ec-base-tooltip table th {width:40px;}
.xans-product-detail .shippingFee .ec-base-tooltip table th,
.xans-product-detail .shippingFee .ec-base-tooltip table td {padding:7px 10px 8px 10px;}

/* SNS 상품 홍보 */
.xans-product-customsns,
.xans-product-customsns ul,
.xans-product-customsns li {display:inline-block;vertical-align:middle;}
.xans-product-customsns img {margin-bottom:2px;}

/* 회원등급별 할인가 적용 */
.xans-product-detail .infoArea  td > span > ul.discountMember > li {position:relative;float:left;}
.xans-product-detail .infoArea  td ul.discountMember li a {display:block;margin:0 4px 4px 0;}
.xans-product-detail .infoArea  td ul li .discount_layer h3 {margin:0 0 8px;padding:0 10px;font-size:13px;border-bottom:0;}
.xans-product-detail .infoArea  td ul li .discount_layer {display:block;left:-140px;min-width:300px;}
.xans-product-detail .infoArea  td ul li .discount_layer .content {overflow-x:hidden;overflow-y:auto;max-height:400px;}
.xans-product-detail .infoArea  td ul li .discount_layer thead th {padding:0;width:0;height:0;font-size:0;line-height:0;border-width:0 1px 0 1px;}
.xans-product-detail .infoArea  td ul li .discount_layer tbody th {width:auto;}

/* 세트상품 추가정보 레이어 */
.xans-product-detail .productSet .product {position:relative;}
.xans-product-detail .productSet .description {z-index:10;position:absolute;top:38px;right:0;padding:7px 0 0;}
.xans-product-detail .productSet .description .xans-product-detail {position:relative;padding:15px;border:1px solid #555;background:#fff;}
.xans-product-detail .productSet .description > h3 {margin:0 0 8px;padding:0 10px;font-size:13px;border-bottom:0;background:url("//img.echosting.cafe24.com/skin/base/common/ico_layer_title.gif") no-repeat 0 50%;}
.xans-product-detail .productSet .description p strong {color:#0088d4;}
.xans-product-detail .productSet .description thead th {padding:0;height:0;font-size:0;line-height:0;}
.xans-product-detail .productSet .description tbody {border:1px solid #ddd;}
.xans-product-detail .productSet .description th,
.xans-product-detail .productSet .description tr:first-child th,
.xans-product-detail .productSet .description tr:first-child td {background:#fbfbfb;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;color:#363636;}
.xans-product-detail .productSet .description th,
.xans-product-detail .productSet .description td {height:15px;border-bottom:1px solid #e8e8e8;}
.xans-product-detail .productSet .description td,
.xans-product-detail .productSet .description tr:first-child td {padding:5px 8px;text-align:left;background:#fff;}
.xans-product-detail .productSet .description tr:last-of-type th,
.xans-product-detail .productSet .description tr:last-of-type td {border-bottom:0;}
.xans-product-detail .productSet .description .color td {font-size:0;line-height:0;}
.xans-product-detail .productSet .description .chips {display:inline-block;width:28px;height:18px;margin:0 2px 3px 0;border:1px solid #e8e8e8;}
.xans-product-detail .productSet .description .btnClose {background:transparent;}
.xans-product-detail .productSet .description > .ec-base-tooltip {display:block;top:0;}
.xans-product-detail .productSet .description > .ec-base-tooltip > .edge {z-index:20;position:absolute;left:auto;right:40px;display:block;margin:0 0 0 -5px;width:9px;height:6px;background:url("//img.echosting.cafe24.com/skin/base/common/ico_option_arrow.gif") no-repeat 0 0;}

/* 리뷰헤더 */
.rv_header {display:flex;margin-bottom:20px;}
.rv_header .left {width:30%;border:1px solid #e8e8e8;border-right:0;padding:30px;text-align:center;}
.rv_header .right {width:70%;}

/* 내비게이션 */
.dtl_nav {padding-top:60px;width:100%;text-align:center;font-size:0;line-height:0;text-align:center;position:relative;}
.dtl_nav li {display:inline-block;vertical-align:top;position:relative;padding:0 8px 0 7px;}
.dtl_nav li a {opacity:0.4;}
.dtl_nav li:before {display:block;content:"";position:absolute;top:4px;right:0;width:1px;height:10px;background:#ddd;}
.dtl_nav li:last-child:before {display:none;}
.dtl_nav li a {display:block;font-size:17px;font-weight:400;line-height:20px;padding:0 12px;}
.dtl_nav li.selected a {opacity:1 !important;font-weight:400;}
.dtl_nav li a span {display:inline-block;color:#fff;background-color:#333;font-size:11px;font-weight:500;padding:0 4px 0 3px;min-width:18px;height:20px;line-height:22px;margin-left:6px;border-radius:3px;text-align:center;vertical-align:middle;}

/* 배송결제안내 */
#prdInfo .info_box {margin:60px auto 70px;width:1000px;background-color:#f8f8f8;padding:50px 80px;}
#prdInfo .info_box .cont {font-weight:400;line-height:1.8;font-size:15px;}
#prdInfo .info_box .cont b {font-weight:400;color:#999;font-size:15px;}
#prdInfo .info_box .cont h3 {margin:0 0 20px;font-size:19px;color:#333;font-weight:500;border-bottom:1px solid #ddd;padding-bottom:15px;margin-bottom:19px;}
