.xans-project-package {text-align:center;min-height:70px;}
.xans-project-package .title h2 {text-align:center;display:inline-block;vertical-align:middle;}
.xans-project-package .title img {margin:0 0 40px;}

.xans-project-package .menuCategory {font-size:0;line-height:0;padding:0;margin-top:-42px;}
.xans-project-package .menuCategory > li {display:inline-block;vertical-align:top;border-radius:4px;-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;transition:0.3s ease-in-out;opacity:0.6;}
.xans-project-package .menuCategory > li:after {display:inline-block;content:'';width:1px;height:13px;background-color:#ddd;margin:0 12px 0 13px;vertical-align:-2px;}
.xans-project-package .menuCategory > li:last-child:after {display:none;}
.xans-project-package .menuCategory > li.selected,
.xans-project-package .menuCategory > li:hover {opacity:1;}
.xans-project-package .menuCategory > li > a {display:inline-block;color:#666;line-height:41px;font-size:17px;font-weight:500;}
.xans-project-package .menuCategory > li .count {font-weight:normal;color:#aaa;}

.xans-project-list {margin-top:35px;}