.xans-product-relation.ec-base-tab .menu {margin:30px 0 11px;}
.xans-product-relation .relation {padding:50px 0;border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;margin-bottom:50px;}
.xans-product-relation .relation h2 {font-size:20px;font-weight:600;line-height:50px;text-align:center;}
.xans-product-relation .relation ul.prdList {padding:20px 75px;}
.xans-product-relation .relation ul.prdList li.item {padding:0 7px;}
.xans-product-relation .relation ul.prdList li.item .box {width:100%;text-align:center;}
.xans-product-relation .relation ul.prdList li.item .box * {outline:0;}
.xans-product-relation .relation ul.prdList li.item .box .name {display:inline-block;font-size:16px;line-height:21px;font-weight:400;padding-top:17px;padding-bottom:5px;font-weight:400;}
.xans-product-relation .relation ul.prdList li.item .box ul li,
.xans-product-relation .relation ul.prdList li.item .box ul li * {font-size:15px;line-height:22px;}
.xans-product-relation .relation ul.prdList li.item .box strong {display:block;font-weight:normal;}
.xans-product-relation .relation ul.prdList li.item .box .strike {font-weight:normal;text-decoration:line-through;}
.xans-product-relation .relation ul.prdList li.item .thumb {width:100%;border:0 solid #e8e8e8;}
.xans-product-relation .relation ul.prdList li.item:hover .thumb {opacity:0.6;}

.relation-slick button {background-color:#aaa !important;background-size:16px auto !important;opacity:0 !important;}
.relation-slick:hover button {opacity:0.15 !important;}
.relation-slick button:hover {opacity:0.3 !important;}
.relation-slick button.slick-prev {left:0;}
.relation-slick button.slick-next {right:0;}

